---
layout: default
heading: Articles Archives
title: All you need to know
subtitle: this is the subtitle
permalink: /articles/
---

<div class="feature-list">
	<div>
	{% for post in site.categories.articles %}
		<a href="{{ post.url }}" title="{{ post.title }}" style="text-decoration: none;">
			<div class="12u">
				<section>
					<h3 class="fa fa-book">{{ post.title }}</h3>
					<p>{{ post.summary }}</p>
				</section>
			</div>
		</a>
		<div style="display: block; clear: both; height: 2em; width: 100%;"></div>
		{% endfor %}
	</div>
	    <ul class="pagination">
{% if paginator.previous_page %}{% if paginator.previous_page == 1 %}{% else %}
      <li class="prev" style="float: left"><a href="/page{{paginator.previous_page}}">Previous</a></li>
{% endif %}{% else %}
      <li class="prev" style="float: left">Previous</li>
{% endif %}
{% if paginator.next_page %}
    <li class="next" style="float: right"><a href="/page{{paginator.next_page}}">Next</a></li>
{% else %}
    <li class="next" style="float: right">Next</li>
{% endif %}
</ul>
</div>