---
layout: homepage
image: '/asseets/images/homebanner.jpg'

about-color: '#1abc9c'
about-title: 'My World and I'

thoughts-color: '#fafafa'
thoughts-title: 'Thoughts'
thoughts-description: 'This is what i think of my thoughts'
thoughts-sub-tag: 'This is very deep I know'

articles-color: '#ecf0f1'
articles-title: 'Articles'
articles-description: 'Big Scary Title'
articles-sub-tag: 'These are fascinating articles'

---
		
		<!-- Intro Wrapper -->
    <div id="intro-wrapper" class="wrapper wrapper-style1" style="background-color: {{ page.about-color }};">
      <div class="title" style="background-color: {{ page.about-color }};">{{ page.about-title }}</div>
        <div class="container">
          <div class="row">
            <div class="12u">
              
              <!-- Intro -->
              <section id="intro">
{% include about.html %}
				<ul class="actions">
					{% if site.social.fb %}<li><a href="{{ site.social.fb }}"><i class="fa fa-facebook"></i></a></li>{% endif %}
					{% if site.social.tw %}<li><a href="{{ site.social.tw }}"><i class="fa fa-twitter"></i></a></li>{% endif %}
					{% if site.social.in %}<li><a href="{{ site.social.in }}"><i class="fa fa-linkedin"></i></a></li>{% endif %}
					{% if site.social.insta %}<li><a href="{{ site.social.insta }}"><i class="fa fa-instagram"></i></a></li>{% endif %}
				</ul>
				<ul class="actions">
					<li><a href="/about/" class="button button-style1">About Me</a></li>
				</ul>
 			  </section>
              <!-- /Intro -->
              
            </div>
          </div>
        </div>
      </div>
    <!-- /Intro Wrapper -->
  </div>




		<!-- Highlights Wrapper -->
			<div id="articles" class="wrapper wrapper-style3" style="background-color: {{ page.articles-color }};">
				<div class="title" style="background-color: {{ page.articles-color }};">{{ page.articles-title }}</div>
				<div class="container">
					<div class="row">
						<div class="12u">

							<header class="style1">
								<h2>{{ page.articles-description }}</h2>
								<p class="byline">{{ page.articles-sub-tag }}</p>
							</header>
							<!--<div class="image image-featured">
								<img src="/assets/images/articles-banner.jpg" alt="" />
							</div>-->
							
							<!-- Highlights -->
								<div id="highlights" style="text-align: center;">
									<!-- Image -->
										<div class="image image-featured" style="max-width: 1000px; display: inline-block;">
											<img src="/assets/images/articles-banner.jpg" alt="" />
										</div>
									<!-- /Image -->
									<div>
										<div class="row">
											{% for post in site.categories.articles limit:6 %}
											<div class="4u">
												<section class="highlight">
													<h3><a href="{{ post.url }}" style="color:#2c3e50;">{{ post.title }}</a></h3>
													<p>{{ post.summary }}</p>
													<ul class="actions">
														<li><a href="{{post.url }}" class="button button-style1" style="font-size: 60%; background: #95a5a6;">Continue Reading</a></li>
													</ul>
													<div style="display: inline-block; clear: both; height: 2em; width: 30%; border-top: 1px solid #cfcfcf; margin-top: 2em;"></div>
												</section>
											</div>
											{% endfor %}
										</div>
									</div>
								</div>
								<ul class="actions actions-centered">
									<li><a href="#" class="button button-style1 button-big" style="background: #34495e;">Read More</a></li>
								</ul>
							<!-- /Highlights -->			
						</div>
					</div>
				</div>
			</div>
		<!-- /Highlights Wrapper -->




		<!-- Main Wrapper -->
			<div id="thoughts" class="wrapper wrapper-style2" style="background-color: {{ page.thoughts-color }};">
				<div class="title" style="background-color: {{ page.thoughts-color }}">{{ page.thoughts-title }}</div>
				<div class="container">
					<div class="row">
						<div class="12u">
							
							<!-- Main -->
								<div id="main">
									
									
									<!-- Features -->
										<section id="features">
											<header class="style1">
												<h2>{{ page.thoughts-description }}</h2>
												<p class="byline">{{ page.thoughts-sub-tag }}</p>
											</header>
											<!-- Image -->
										<div class="image image-featured">
											<img src="/assets/images/thoughts-banner.jpg" alt="" />
										</div>
									<!-- /Image -->
											<div class="feature-list">
												<div>
												{% for post in site.categories.thoughts limit:10 %}
													<a href="{{ post.url }}" title="{{ post.title }}" style="text-decoration: none;">
														<div class="12u">
															<section>
																<h3 class="fa fa-book">{{ post.title }}</h3>
																<p>{{ post.summary }}</p>
															</section>
														</div>
													</a>
													<div style="display: block; clear: both; height: 2em; width: 100%;"></div>
													{% endfor %}
												</div>
											</div>
											<ul class="actions actions-centered">
												<li><a href="/thoughts/" class="button button-style1 button-big">Read More</a></li>
											</ul>
										</section>
									<!-- /Features -->
									
								</div>
							<!-- /Main -->
							
						</div>
					</div>
				</div>
			</div>
		<!-- /Main Wrapper -->