// Ubuntu - display & text font
// --------------------------------------------------------------------------

@import 'http://fonts.googleapis.com/css?family=Ubuntu:300,500,300italic';

.font-text {
    font-family: 'Ubuntu',  Helvetica, Verdana, Arial, sans-serif;
    font-weight: 300;
}
.font-text-italic {
    font-family: 'Ubuntu',  Helvetica, Verdana, Arial, sans-serif;
    font-weight: 300;
    font-style: italic;
}
.font-text-bold {
    font-family: 'Ubuntu',  Helvetica, Verdana, Arial, sans-serif;
    font-weight: 500;
}



// Ubuntu - display font
// --------------------------------------------------------------------------

.font-display {font-family: 'Ubuntu',  Helvetica, Verdana, Arial, sans-serif;}



// Icons - iconography font
// --------------------------------------------------------------------------

.font-import('bivee-icons');

[class^="icon-"], [class*=" icon-"] {
    font-family: 'bivee-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-reorder:before {
    content: "\e600";
}
.icon-linkedin:before {
    content: "\e601";
}
.icon-facebook:before {
    content: "\e602";
}
.icon-twitter:before {
    content: "\e603";
}
.icon-pinterest:before {
    content: "\e604";
}
.icon-github:before {
    content: "\e605";
}
.icon-ok-check:before {
    content: "\e606";
}
.icon-search:before {
    content: "\e60f";
}
.icon-behance:before {
    content: "\e607";
}
.icon-instagram:before {
    content: "\e608";
}
.icon-flickr:before {
    content: "\e609";
}
.icon-location:before {
    content: "\e60a";
}
.icon-arrow-left:before {
    content: "\e60b";
}
.icon-arrow-down:before {
    content: "\e60c";
}
.icon-arrow-up:before {
    content: "\e60d";
}
.icon-arrow-right:before {
    content: "\e60e";
}