// Phone Screens (Large Portrait)
// --------------------------------------------------------------------------

@media only screen and (min-width: 25em) {
    body {
        font-size: 70%;
    }
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
}


// Phone Screens (Landscape)
// --------------------------------------------------------------------------

@media only screen and (min-width: 30em) {
    body {
        font-size: 80%;
    }
}


// Tablet Screens (Portrait)
// --------------------------------------------------------------------------

@media only screen and (min-width: 48em) {
    body {
        font-size: 90%;
    }
    .desktop {
        display: block !important;
    }
    .desktop-inline {
        display: inline-block !important;
    }
    .mobile, .mobile-inline {
        display: none !important;
    }
}

// Tablet Screens (Tablet Landscape)
// --------------------------------------------------------------------------

@media only screen and (min-width: 64em) {
    body {
        font-size: 100%;
    }
}

// Phone Screens (Desktop)
// --------------------------------------------------------------------------

@media only screen and (min-width: 75em) {
    body {
        font-size: 100%;
    }
}