// Phone Screens (Large Portrait)
// --------------------------------------------------------------------------



// Phone Screens (Landscape)
// --------------------------------------------------------------------------
    
    h1, h2, h3, h4, h5, h6 {
        line-height: 1.5;
        .font-text-bold;
        color: @color-black;
    }

    h1 {
        font-size: 2.4em;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.8em;
    }
    h4 {
        font-size: 1.6em;
    }
    h5 {
        font-size: 1.4em;
    }
    h6 {
        font-size: 1.2em;
    }
    p, blockquote, figcaption {
        font-size: 1em;
        line-height: 1.9;
        margin-bottom: 1.4em; 
        a {
            color: inherit;
            border-bottom: 1px solid @color-blue;
            &:hover {
                color: @color-blue;
            }
        }
    }
    ul, ol {
        font-size: 1em;
        line-height: 1.9;
        margin-bottom: 1.4em;
        color: @color-black--light; 
    }
    p {
        color: @color-black--light;
    }
    em {
        font-style: italic;
    }
    strong {
        font-style: bold;
    }
    figcaption {
        font-size: 75%;
        display: block;
        margin-bottom: 1.4rem;
        padding: 0.4rem 0rem 1rem 1rem;
        color: @color-black--light;
        .font-display;
        border-bottom: 1px solid @color-white--dark;
    }
    blockquote {
        border-left: 5px solid @color-red;
        padding-left: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-family: serif;
        font-size: 1.2em;
        .font-display;
        color: @color-black--light;
    }
    section ul {
        margin-left: 3rem;
    }