// ===============================================================================
// Colour Schemes
// ===============================================================================

// Blacks
// --------------------------------------------------------------------------

@color-black:               #363636;
@color-black--light:        #636363;
@color-black--dark:         #000000;


// Whites
// --------------------------------------------------------------------------


@color-white:               #f3f3f3;
@color-white--light:        #ffffff;
@color-white--dark:         #d1d3d4;


// Main
// --------------------------------------------------------------------------

@background-faux-column:    #f3f3f3;


@color-red:                 #cd201f;
@color-red--light:          ;
@color-red--dark:           ;

@color-blue:                #53AAC5;
@color-blue--light:         ;
@color-blue--dark:          ;




// ===============================================================================
// Layout Settings
// ===============================================================================

@max-width:      75em;
@basefont:       16;