    <!-- Footer Wrapper -->
      <div id="footer-wrapper" class="wrapper">
        <div class="title">The End</div>
        <div class="container">
          <div class="row">
            <div class="12u">

              <!-- Footer -->
                <div id="footer">
                  <header class="style1">
                    <h2>You reached the end of the page!</h2>
                    <p class="byline">
                      Congratulations! You read through this page without a problem! Fascinating information here right? You are that much smarter now for having read it!
                    </p>
                  </header>
                  <ul class="actions">
                    {% if site.social.fb %}<li><a href="{{ site.social.fb }}"><i class="fa fa-facebook"></i></a></li>{% endif %}
                    {% if site.social.tw %}<li><a href="{{ site.social.tw }}"><i class="fa fa-twitter"></i></a></li>{% endif %}
                    {% if site.social.in %}<li><a href="{{ site.social.in }}"><i class="fa fa-linkedin"></i></a></li>{% endif %}
                    {% if site.social.insta %}<li><a href="{{ site.social.insta }}"><i class="fa fa-instagram"></i></a></li>{% endif %}
                  </ul>
                </div>
              <!-- /Footer -->
            
            </div>
          </div>
        </div>
      </div>
    <!-- /Footer Wrapper -->

  </body>
</html>