<!doctype html>
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->


<head>

    <title>{{ site.name}} || {% if page.title %}{{ page.title }}{% else %}{{ site.tagline }}{% endif %}</title>

    <!-- // Site Info
    ====================================

    Version:  {{ site.version }}

    Launch:   
    Updated:  {{ site.time | date_to_long_string }}

    Author:   {{ site.seo.author }}

    Notes:    Congratulations! You are a nerd like us!
              Maybe check out the github page?

    Git:      http://www.github.com/helentootsi

    ====================================
    // -->

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" type="image/png" href="/assets/stylesheets/favicon.png" />
    <meta name="robots" content="index, follow"/>


    <!-- CSS and Fonts  -->
    <link rel="stylesheet" href="/assets/stylesheets/style.css" />

</head>

<body{% if page.id %} id="{{ page.id }}"{% endif %}>

    <nav role="navigation">
        <a href="/" title="Homepage of www.helentootsi.com" class="logo" target="_self"><img src="/assets/images/logo.png" alt="Helen Tootsi, Creative, Film Production, Writer" /></a>
        <ul>
            <li class="in"><a href="{{ site.social.in }}" title="Helen Tootsi's Linkedin"><i class="icon-linkedin"></i></a></li>
            <li class="is"><a href="{{ site.social.insta }}" title="Helen Tootsi's Instagram"><i class="icon-instagram"></i></a></li>
            <li class="ro"><button id="trigger-overlay" type="button"><i class="icon-reorder"></i></button></li>
        </ul>
    </nav> 
    <div id="overlay-menu" class="overlay-menu overlay-scale">
        <button type="button" id="overlay-close">x</button>
        <nav>
            <ul>
                <li class="film"><a href="/film">Film</a></li>
                <li class="television"><a href="/television">Television</a></li>
                <li class="creative"><a href="/creative">Creative</a></li>
                <li class="writing"><a href="/writing">Writing</a></li>
                <li class="education"><a href="/education">Education</a></li>
                <li class="other"><a href="/other">All Other</a></li>
            </ul>
        </nav>
    </div>
    <div id="container">