<!doctype html>
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->


<head>

    <title>{{ site.name}} || {% if page.title %}{{ page.title }}{% else %}{{ site.tagline }}{% endif %}</title>

    <!-- // Site Info
    ====================================

    Version:  {{ site.version }}

    Launch:   
    Updated:  {{ site.time | date_to_long_string }}

    Author:   {{ site.seo.author }}

    Notes:    Congratulations! You are a nerd like us!
            Maybe check out the github page?

    Git:      http://www.github.com/{{ site.social.github }}

    ====================================
    // -->
    <!-- CSS and Fonts  -->
    <link rel="stylesheet" href="/assets/stylesheets/style.css" />

</head>

<body>

    <nav role="navigation">
        <a href="/" title="Homepage of www.helentootsi.com" class="logo" target="_self"><img src="/assets/images/logo.png" /></a>
        <ul>
            <li class="fb"><a href=""><i class="icon-facebook"></i></a></li>
            <li class="tw"><a href=""><i class="icon-twitter"></i></a></li>
            <li class="gp"><a href=""><i class="icon-instagram"></i></a></li>
            <li class="ro"><button id="trigger-overlay" type="button"><i class="icon-reorder"></i></button></li>
        </ul>
    </nav> 
    <div id="overlay-menu" class="overlay-menu overlay-scale">
        <button type="button" id="overlay-close">Close</button>
        <nav>
            <ul>
                <li><a href="/test">Link 1</a></li>
                <li><a href="/test">Link 2</a></li>
                <li><a href="/test">Link 3</a></li>
                <li><a href="/test">Link 4</a></li>
                <li><a href="/test">Link 5</a></li>
            </ul>
        </nav>
    </div>


    <div id="container">