<!doctype html>
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->


<head>

	<title>{{ site.name}} || {% if page.title %}{{ page.title }}{% else %}{{ site.tagline }}{% endif %}</title>

	<!-- // Site Info
	====================================

	Version:  {{ site.version }}

	Launch:   
	Updated:  {{ site.time | date_to_long_string }}

	Author:   {{ site.seo.author }}

	Notes:    Congratulations! You are a nerd like us!
	    	  Maybe check out the github page?

	Git:      http://www.github.com/{{ site.social.github }}

	====================================
	// -->

	<!-- Primary Metadata  -->
	<meta charset="utf-8">
	<meta name="description" content="{% if page.description == null %}{{ site.seo.description }}{% else %}{{ page.description }}{% endif %}"/>
	<meta name="keywords" content="{{ site.seo.tags }}, {{ page.tags }}"/>
	<meta name="author" content="{% if post %}{{ post.author }}{% else %}{{ site.seo.author }}{% endif %}"/>
	<meta name='viewport' content='width=device-width, initial-scale=1'>

	<!-- Robots & Favicons  -->
	<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png" />
	<meta name="robots" content="index, follow"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!-- CSS and Fonts  -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic|Open+Sans:300,700" type="text/css">
	<link rel="stylesheet" href="{{ site.assets.css }}style.css" type="text/css" />

	<!-- JS  -->
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="{{ site.assets.js }}main.js"></script>

</head>
<body>
	<div id="faux-column"></div>
	<div id="container">
		<div id="left-column">
			<nav>
				<ul id="navbar">
					<li id="logo"><a href="{{ site.url }}/"><img src="{{ site.assets.img }}logo.png" /></a></li>
					<li id="show-menu"><a href=""><i class="icon-menu"></i></a></li>
				</ul>
				<ul id="menu">
					{% include nav.html %}
				</ul>
			</nav>
			<header>
				<figure><img src="{{ site.assets.img }}profile/ht-1.jpg" /></figure>
				<h6>{{ site.name }}</h6>
				<p class="headline">{{ site.headline }}</p>
			</header>
			<div class="clearfix"></div>
			<aside
			<p class="subheadline">{{ site.subheadline }}</p>
			<p><a href="{{ site.url }}/assets/downloads/helen-tootsi-cv.pdf">Download CV</a><br /><a href="{{ site.email }}">Send Email</a></p>
			<hr>
			</aside>
			<footer>
				<ul class="social">
					<li class="tw"><a href="{{ site.social.tw }}"><i class="icon-twitter"></i></a></li>
					<li class="in"><a href="{{ site.social.in }}"><i class="icon-linkedin"></i></a></li>
					<li class="ig"><a href="{{ site.social.ig }}"><i class="icon-instagram"></i></a></li>
				</ul>
			</footer>
		</div>