.font-text {
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
}
.font-text-italic {
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-style: italic;
}
.font-display {
  font-family: 'Open Sans', Helvetica, Verdana, Arial, sans-serif;
  font-weight: 300;
}
.font-text-bold,
.font-display-bold {
  font-family: 'Open Sans', Helvetica, Verdana, Arial, sans-serif;
  font-weight: 700;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-menu:before {
  content: "\e600";
}
.icon-checkmark:before {
  content: "\e601";
}
.icon-google:before {
  content: "\e602";
}
.icon-facebook:before {
  content: "\e603";
}
.icon-twitter:before {
  content: "\e604";
}
.icon-github:before {
  content: "\e605";
}
.icon-pinterest:before {
  content: "\e606";
}
.icon-linkedin:before {
  content: "\e612";
}
.icon-cross:before {
  content: "\e613";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-arrow-right:before {
  content: "\e60a";
}
.icon-arrow-left2:before {
  content: "\e60b";
}
.icon-arrow-down2:before {
  content: "\e60c";
}
.icon-arrow-up2:before {
  content: "\e60d";
}
.icon-arrow-right2:before {
  content: "\e60e";
}
.icon-instagram:before {
  content: "\e60f";
}
@viewport {
  width: device-width;
}
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html,
body {
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html {
  overflow-y: scroll;
}
::selection {
  background: #e86a6a;
}
::-moz-selection {
  background: #e86a6a;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
header,
nav,
section,
footer {
  width: 100%;
}
img {
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover {
  cursor: pointer;
}
a:focus {
  outline: none;
}
hr {
  height: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  border: none;
  border-top: 1px solid #e0e0e0;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
  border: none;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
body {
  background: #ffffff;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
a {
  text-decoration: none;
}
nav {
  background: #363636;
  position: fixed
    top: 0;
  left: 0;
  right: 0;
  margin: 0 -4em 0 0;
  height: 3.25rem;
  text-align: right;
  z-index: 999;
}
nav ul {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  word-spacing: -1;
}
nav ul a {
  font-size: 1rem;
  padding: 0 1em;
  color: #ffffff;
  text-decoration: none !important;
  font-family: 'Open Sans', Helvetica, Verdana, Arial, sans-serif;
  font-weight: 300;
}
nav ul li {
  vertical-align: middle;
  text-align: right;
  display: inline-block;
  overflow: hidden;
}
nav ul li#show-menu {
  position: absolute;
  right: 0;
  top: 0;
}
nav ul li#logo {
  position: absolute;
  padding: 0;
  left: 0;
  top: 0;
  height: 3.25rem;
}
nav ul#navbar {
  background: #363636;
  position: absolute;
  z-index: 999;
}
nav ul#navbar a {
  height: 3.25rem;
  display: table-cell;
  vertical-align: middle;
}
nav ul#navbar a:hover {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
  *zoom: 1;
}
nav ul#navbar img {
  height: 1.25rem;
  margin: 0;
  padding: 0;
}
nav ul#menu {
  position: absolute;
  text-align: left;
  top: -200px;
  left: 0;
  right: 0;
  z-index: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  *zoom: 1;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
nav ul#menu.active {
  top: 3.25rem;
  overflow: visible;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  *zoom: 1;
}
nav ul#menu li {
  display: block;
}
nav ul#menu li a {
  text-align: left;
  background: rgba(54, 54, 54, 0.9);
  display: block;
  width: 100%;
  padding: 1em;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
nav ul#menu li a:hover {
  background: #53aac5;
}
#right-column footer {
  border-top: 1px solid #f3f3f3;
  font-family: 'Open Sans', Helvetica, Verdana, Arial, sans-serif;
  font-weight: 300;
  margin-top: 6em;
  font-size: 65%;
  padding: 1rem 0;
}
#right-column footer span {
  float: right;
}
#right-column footer span a {
  margin-left: 1rem;
}
@media only screen and (min-width: 20em) {
  body {
    font-size: 90%;
  }
  nav {
    position: fixed;
    top: 0;
  }
  #container {
    position: relative;
    z-index: 1;
    background: none;
    margin: 0 auto;
    width: 100%;
    padding: 0 2%;
    margin: 0;
  }
  header {
    margin-top: 6rem;
  }
  #left-column {
    background: #f3f3f3;
    font-family: 'Open Sans', Helvetica, Verdana, Arial, sans-serif;
    font-weight: 300;
    margin: -3rem -2% 0;
    padding: 2rem 2% 1rem;
    font-size: 90%;
    color: #c0c0c0;
    position: relative;
  }
  #left-column .headline {
    color: #969696;
    font-style: italic;
    font-size: 80%;
  }
  #left-column .subheadline {
    color: #636363;
    font-size: 80%;
  }
  #left-column figure {
    padding: 0;
    width: 150px;
    margin: 0rem auto 2rem;
    padding-right: 1rem;
    float: left;
  }
  #left-column figure img {
    display: inline-block;
    margin: 0 auto;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-background-clip: 'padding-box';
    -moz-background-clip: 'padding-box';
    background-clip: 'padding-box';
  }
  figure {
    margin-left: -2.1%;
    margin-right: -2.1%;
    margin-top: 1em;
    margin-bottom: 1em;
    position: relative;
  }
  figure:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: " ";
    cursor: default;
  }
  blockquote {
    margin-left: -2.1%;
  }
}
@media only screen and (min-width: 30em) {
  body {
    font-size: 110%;
  }
}
@media only screen and (min-width: 48em) {
  body {
    font-size: 110%;
  }
  #container {
    padding: 0 4%;
  }
  nav {
    position: absolute;
    top: 0;
  }
  #faux-column {
    background: #f3f3f3;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 33.45%;
    content: "";
  }
  #left-column {
    width: 29.45%;
    position: fixed;
    margin: 0;
    background: none;
    padding: 1.4rem 2rem 0 1rem;
  }
  #right-column {
    width: 68%;
    float: left;
    margin-left: 32%;
  }
  #right-column h1,
  #right-column h2,
  #right-column h3,
  #right-column h4,
  #right-column h5,
  #right-column h6,
  #right-column p {
    padding-left: 2rem;
  }
  figure {
    margin-left: 0;
    margin-right: 0;
  }
  figcaption,
  blockquote {
    margin-left: 0;
  }
}
@media only screen and (min-width: 64em) {
  body {
    font-size: 110%;
  }
  #container {
    padding: 0 10%;
  }
  #faux-column {
    width: 35.6%;
  }
  #left-column {
    width: 25.6%;
  }
  section p {
    margin-left: 27%;
    margin-bottom: 30px;
  }
  figcaption {
    float: left;
    width: 25%;
  }
}
@media only screen and (min-width: 75em) {
  body {
    font-size: 120%;
  }
  #left-column figure {
    float: left;
  }
}
.category-list {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-left: 0;
  list-style: none;
  font-family: 'Open Sans', Helvetica, Verdana, Arial, sans-serif;
  font-weight: 300;
}
.category-list .date {
  float: left;
  color: #d1d3d4;
  width: 150px;
}
.category-list a {
  color: #636363;
  border-bottom: 1px solid #53aac5;
  padding-bottom: 0.2rem;
}
.category-list li {
  border-left: 3px solid #d1d3d4;
  padding-left: 0;
}
.category-list li h4 {
  padding-left: 0 !important;
  text-transform: uppercase;
}
.category-list ul {
  list-style: none;
  padding-top: 0;
  padding-bottom: 0;
}
.category-list ul li {
  display: block;
  border: none;
  padding: 1rem 0;
}
.category-list ul li:first-child {
  display: none !important;
}
/* =============================================== */
/* Form Styles                                     */
/* =============================================== */
/*=Form Reset Styles
================================================== */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
  border: none;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/*=Form Custom Styles
================================================== */
[role="navigation"] {
  display: block;
  position: fixed;
  top: 0;
  padding: 0 2rem;
  z-index: 10;
  height: 3.125rem;
  background: #000000;
  font-family: 'Open Sans', Helvetica, Verdana, Arial, sans-serif !important;
  font-weight: 300 !important;
}
[role="navigation"] a.logo {
  display: inline-block;
  height: 3.125rem;
}
[role="navigation"] a.logo img {
  height: 50px;
}
[role="navigation"] ul {
  position: absolute;
  right: 0;
  top: 0;
  height: 3.125rem;
  text-align: center;
}
[role="navigation"] ul li {
  display: inline-block;
  height: 3.125rem;
  width: 3.125rem;
  padding: 1rem 0;
}
[role="navigation"] ul li a i {
  color: #f3f3f3;
  display: block;
  text-align: center;
  font-size: 1.25rem;
  height: 2.125rem;
  width: 100%;
}
.social {
  height: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  font-size: 90%;
}
.social li {
  display: inline-block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-background-clip: 'padding-box';
  -moz-background-clip: 'padding-box';
  background-clip: 'padding-box';
  margin-left: 0.5em;
  margin-right: 0.5em;
  line-height: 100% !important;
}
.social a {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  font-size: 1em;
  padding: 0.75em;
  text-align: center;
  color: #f3f3f3;
}
.social a i {
  font-size: 1.5em;
}
.fb {
  background-color: #3b5998 !important;
  color: #ffffff;
}
.fb:hover {
  background-color: #4c70ba !important;
}
.tw {
  background-color: #4099ff !important;
  color: #ffffff;
}
.tw:hover {
  background-color: #73b4ff !important;
}
.gp {
  background-color: #d34836 !important;
  color: #ffffff;
}
.gp:hover {
  background-color: #dc6e60 !important;
}
.pn {
  background-color: #c92228 !important;
  color: #ffffff;
}
.pn:hover {
  background-color: #df3f45 !important;
}
.vm {
  background-color: #aad450 !important;
  color: #ffffff;
}
.vm:hover {
  background-color: #bede79 !important;
}
.yt {
  background-color: #c4302b !important;
  color: #ffffff;
}
.yt:hover {
  background-color: #d74f4b !important;
}
.in {
  background-color: #4875b4 !important;
  color: #ffffff;
}
.in:hover {
  background-color: #6b90c4 !important;
}
.ig {
  background-color: #4e433c !important;
  color: #ffffff;
}
.ig:hover {
  background-color: #6b5c52 !important;
}
.top {
  background: #000000;
}
.top:hover {
  background: #363636;
}
/* ================================================= */
/* GRID SETTINGS & QUERIES                           */
/* ================================================= */
.grid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 75em;
  *zoom: 1;
  margin-top: 0;
  margin-bottom: 0;
}
.grid:before,
.grid:after {
  content: " ";
  display: table;
}
.grid:after {
  clear: both;
}
.grid .grid {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}
.grid .grid:before,
.grid .grid:after {
  content: " ";
  display: table;
}
.grid .grid:after {
  clear: both;
}
.columns {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
}
.columns .columns {
  padding-left: 0;
  padding-right: 0;
}
@media only screen {
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }
  .small-1,
  .small-2,
  .small-3,
  .small-4,
  .small-5,
  .small-6,
  .small-7,
  .small-8,
  .small-9,
  .small-10,
  .small-11,
  .small-12,
  .small-offset-0,
  .small-offset-1,
  .small-offset-2,
  .small-offset-3,
  .small-offset-4,
  .small-offset-5,
  .small-offset-6,
  .small-offset-7,
  .small-offset-8,
  .small-offset-9,
  .small-offset-10,
  .small-offset-11,
  .small-offset-12 {
    position: relative;
  }
  .small-1 {
    width: 8.33333%;
  }
  .small-2 {
    width: 16.66667%;
  }
  .small-3 {
    width: 25%;
  }
  .small-4 {
    width: 33.33333%;
  }
  .small-5 {
    width: 41.66667%;
  }
  .small-6 {
    width: 50%;
  }
  .small-7 {
    width: 58.33333%;
  }
  .small-8 {
    width: 66.66667%;
  }
  .small-9 {
    width: 75%;
  }
  .small-10 {
    width: 83.33333%;
  }
  .small-11 {
    width: 91.66667%;
  }
  .small-12 {
    width: 100%;
  }
  .small-offset-0 {
    margin-left: 4.16665%;
  }
  .small-offset-1 {
    margin-left: 8.33333%;
  }
  .small-offset-2 {
    margin-left: 16.66667%;
  }
  .small-offset-3 {
    margin-left: 25%;
  }
  .small-offset-4 {
    margin-left: 33.33333%;
  }
  .small-offset-5 {
    margin-left: 41.66667%;
  }
  .small-offset-6 {
    margin-left: 50%;
  }
  .small-offset-7 {
    margin-left: 58.33333%;
  }
  .small-offset-8 {
    margin-left: 66.66667%;
  }
  .small-offset-9 {
    margin-left: 75%;
  }
  .small-offset-10 {
    margin-left: 83.33333%;
  }
  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }
  [class*="column"] + [class*="column"].end {
    float: left;
  }
}
@media only screen and (min-width: 48em) {
  .large-1,
  .large-2,
  .large-3,
  .large-4,
  .large-5,
  .large-6,
  .large-7,
  .large-8,
  .large-9,
  .large-10,
  .large-11,
  .large-12,
  .large-offset-0,
  .large-offset-1,
  .large-offset-2,
  .large-offset-3,
  .large-offset-4,
  .large-offset-5,
  .large-offset-6,
  .large-offset-7,
  .large-offset-8,
  .large-offset-9,
  .large-offset-10,
  .large-offset-11,
  .large-offset-12 {
    position: relative;
  }
  .large-1 {
    width: 8.33333%;
  }
  .large-2 {
    width: 16.66667%;
  }
  .large-3 {
    width: 25%;
  }
  .large-4 {
    width: 33.33333%;
  }
  .large-5 {
    width: 41.66667%;
  }
  .large-6 {
    width: 50%;
  }
  .large-7 {
    width: 58.33333%;
  }
  .large-8 {
    width: 66.66667%;
  }
  .large-9 {
    width: 75%;
  }
  .large-10 {
    width: 83.33333%;
  }
  .large-11 {
    width: 91.66667%;
  }
  .large-12 {
    width: 100%;
  }
  .large-offset-0 {
    margin-left: 4.16665%;
  }
  .large-offset-1 {
    margin-left: 8.33333%;
  }
  .large-offset-2 {
    margin-left: 16.66667%;
  }
  .large-offset-3 {
    margin-left: 25%;
  }
  .large-offset-4 {
    margin-left: 33.33333%;
  }
  .large-offset-5 {
    margin-left: 41.66667%;
  }
  .large-offset-6 {
    margin-left: 50%;
  }
  .large-offset-7 {
    margin-left: 58.33333%;
  }
  .large-offset-8 {
    margin-left: 66.66667%;
  }
  .large-offset-9 {
    margin-left: 75%;
  }
  .large-offset-10 {
    margin-left: 83.33333%;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  font-family: 'Open Sans', Helvetica, Verdana, Arial, sans-serif;
  font-weight: 700;
  color: #363636;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.6em;
}
h5 {
  font-size: 1.4em;
}
h6 {
  font-size: 1.2em;
}
p,
blockquote,
figcaption {
  font-size: 1em;
  line-height: 1.9;
  margin-bottom: 1.4em;
}
p a,
blockquote a,
figcaption a {
  color: inherit;
  border-bottom: 1px solid #53aac5;
}
p a:hover,
blockquote a:hover,
figcaption a:hover {
  color: #53aac5;
}
ul,
ol {
  font-size: 1em;
  line-height: 1.9;
  margin-bottom: 1.4em;
  color: #636363;
}
p {
  color: #636363;
}
em {
  font-style: italic;
}
strong {
  font-style: bold;
}
figcaption {
  font-size: 75%;
  display: block;
  margin-bottom: 1.4rem;
  padding: 0.4rem 0rem 1rem 1rem;
  color: #636363;
  font-family: 'Open Sans', Helvetica, Verdana, Arial, sans-serif;
  font-weight: 300;
  border-bottom: 1px solid #d1d3d4;
}
blockquote {
  border-left: 5px solid #cd201f;
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: serif;
  font-size: 1.2em;
  font-family: 'Open Sans', Helvetica, Verdana, Arial, sans-serif;
  font-weight: 300;
  color: #636363;
}
section ul {
  margin-left: 3rem;
}
