@import 'http://fonts.googleapis.com/css?family=Ubuntu:300,500,300italic';
.font-text {
  font-family: 'Ubuntu', Helvetica, Verdana, Arial, sans-serif;
  font-weight: 300;
}
.font-text-italic {
  font-family: 'Ubuntu', Helvetica, Verdana, Arial, sans-serif;
  font-weight: 300;
  font-style: italic;
}
.font-text-bold {
  font-family: 'Ubuntu', Helvetica, Verdana, Arial, sans-serif;
  font-weight: 500;
}
.font-display {
  font-family: 'Ubuntu', Helvetica, Verdana, Arial, sans-serif;
}
@font-face {
  font-family: 'bivee-icons';
  src: url('../fonts/bivee-icons.eot');
  src: url('../fonts/bivee-icons.eot?#iefix') format('embedded-opentype'), url('../fonts/bivee-icons.woff') format('woff'), url('../fonts/bivee-icons.ttf') format('truetype'), url('../fonts/bivee-icons.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'bivee-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-reorder:before {
  content: "\e600";
}
.icon-linkedin:before {
  content: "\e601";
}
.icon-facebook:before {
  content: "\e602";
}
.icon-twitter:before {
  content: "\e603";
}
.icon-pinterest:before {
  content: "\e604";
}
.icon-github:before {
  content: "\e605";
}
.icon-ok-check:before {
  content: "\e606";
}
.icon-search:before {
  content: "\e60f";
}
.icon-behance:before {
  content: "\e607";
}
.icon-instagram:before {
  content: "\e608";
}
.icon-flickr:before {
  content: "\e609";
}
.icon-location:before {
  content: "\e60a";
}
.icon-arrow-left:before {
  content: "\e60b";
}
.icon-arrow-down:before {
  content: "\e60c";
}
.icon-arrow-up:before {
  content: "\e60d";
}
.icon-arrow-right:before {
  content: "\e60e";
}
@viewport {
  width: device-width;
}
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html,
body {
  font-family: 'Ubuntu', Helvetica, Verdana, Arial, sans-serif;
  font-weight: 300;
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html {
  overflow-y: scroll;
}
::selection {
  background: #a1d0e0;
}
::-moz-selection {
  background: #a1d0e0;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
header,
nav,
section,
footer {
  width: 100%;
}
img {
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover {
  cursor: pointer;
}
a:focus {
  outline: none;
}
hr {
  height: 2rem;
  width: 100%;
  border: none;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
  border: none;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
body {
  background: #f1f2f2;
}
#container {
  position: absolute;
  top: 3.125rem;
  bottom: 0;
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.inner {
  display: table-cell;
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
p {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
}
[role="main"] {
  position: relative;
  height: 100%;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}
[role="main"] section {
  background: #ffffff;
  margin-top: 5.125rem;
}
[role="main"] article {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
[role="main"] footer {
  position: relative;
  background: #231f20;
}
[role="main"] h1,
[role="main"] h2,
[role="main"] h3,
[role="main"] h4,
[role="main"] h5,
[role="main"] h6,
[role="main"] p {
  text-align: left;
}
.home {
  display: table;
  border-collapse: collapse;
  width: 100%;
  z-index: 2;
  position: relative;
  background: url(../images/cover.jpg) center no-repeat;
  height: 100%;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home .overlay {
  position: absolute;
  background: url(../images/stripe.png) center center repeat rgba(35, 31, 32, 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: " ";
  z-index: 1;
}
.home article {
  display: table-cell;
  vertical-align: middle;
  color: #f1f2f2;
  position: relative;
  z-index: 2;
}
.home article.dark {
  color: #838688;
}
.home article h1 {
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
.home .logo {
  background: rgba(0, 0, 0, 0.6);
  display: inline-block;
  margin-bottom: 3rem;
  margin-top: -5rem;
  width: 100%;
  max-width: 460px;
  padding: 1rem 2rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  -webkit-background-clip: 'padding-box';
  -moz-background-clip: 'padding-box';
  background-clip: 'padding-box';
}
a.read-more {
  position: absolute;
  bottom: -2.5rem;
  right: 0;
  background: #231f20;
  color: #838688 !important;
  text-decoration: none;
  letter-spacing: 3px;
  padding: 12px 24px;
  z-index: 3;
}
a.read-more:hover {
  background: #000000;
  color: #d1d3d4 !important;
}
/* =============================================== */
/* Form Styles                                     */
/* =============================================== */
/*=Form Reset Styles
================================================== */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
  border: none;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/*=Form Custom Styles
================================================== */
[role="navigation"] {
  display: block;
  position: fixed;
  top: 0;
  padding: 0 2rem;
  z-index: 10;
  height: 3.125rem;
  background: #000000;
}
[role="navigation"] a.logo {
  display: inline-block;
  height: 3.125rem;
}
[role="navigation"] a.logo:hover {
  background: #1abc9c;
}
[role="navigation"] a.logo img {
  height: 50px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
[role="navigation"] ul {
  position: absolute;
  right: 0;
  top: 0;
  height: 3.125rem;
  text-align: center;
}
[role="navigation"] ul li {
  display: inline-block;
  height: 3.125rem;
  width: 3.125rem;
  padding: 1rem 0;
  background: #000000 !important;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
[role="navigation"] ul li button,
[role="navigation"] ul li a {
  border: 0;
  padding: 0;
  margin: 0;
}
[role="navigation"] ul li button {
  background: none;
  color: #f1f2f2;
  font-size: 1.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
[role="navigation"] ul li a i {
  color: #f1f2f2;
  display: block;
  text-align: center;
  font-size: 1.25rem;
  height: 2.125rem;
  width: 100%;
}
[role="navigation"] ul li:hover {
  background: #1abc9c;
}
[role="navigation"] ul li:hover.fb {
  background: #3b5998 !important;
}
[role="navigation"] ul li:hover.tw {
  background: #4099ff !important;
}
[role="navigation"] ul li:hover.gp {
  background: #d34836 !important;
}
[role="navigation"] ul li:hover.ro {
  background: #1abc9c;
}
/* Overlay style */
.overlay-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(153, 204, 51, 0.9);
  z-index: 9999;
}
.overlay-menu #overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../images/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
}
.overlay-menu nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.overlay-menu nav ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}
.overlay-menu nav ul li {
  display: block;
  height: 20%;
  height: calc(20%);
  min-height: 54px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.overlay-menu nav ul li a {
  font-size: 54px;
  font-weight: 300;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.overlay-menu nav ul li a:hover,
.overlay-menu nav ul li a:focus {
  color: #f0f0f0;
}
.overlay-scale {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}
.overlay-scale.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}
@media screen and (max-height: 30.5em) {
  .overlay-menu nav {
    height: 70%;
    font-size: 34px;
  }
  .overlay-menu ul li {
    min-height: 34px;
  }
}
.fb {
  background: #3b5998;
}
.fb:hover {
  background: #4c70ba;
}
.tw {
  background: #4099ff;
}
.tw:hover {
  background: #73b4ff;
}
.gp {
  background: #d34836;
}
.gp:hover {
  background: #dc6e60;
}
.top {
  background: #000000;
}
.top:hover {
  background: #231f20;
}
#social {
  position: absolute;
  right: -1.25rem;
  top: 3.125rem;
  width: 1.25rem;
  z-index: 10 !important;
}
#social.position-fixed {
  position: fixed;
  top: 3.125rem;
  right: 0;
  z-index: 10000;
}
#social a {
  display: block;
  color: #f1f2f2;
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.4rem;
  padding: 0.5em;
  text-align: center;
}
#social a i {
  height: 2em;
  width: 2em;
}
/* ================================================= */
/* GRID SETTINGS & QUERIES                           */
/* ================================================= */
.grid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 75em;
  *zoom: 1;
  margin-top: 0;
  margin-bottom: 0;
}
.grid:before,
.grid:after {
  content: " ";
  display: table;
}
.grid:after {
  clear: both;
}
.grid .grid {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}
.grid .grid:before,
.grid .grid:after {
  content: " ";
  display: table;
}
.grid .grid:after {
  clear: both;
}
.columns {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
}
.columns .columns {
  padding-left: 0;
  padding-right: 0;
}
@media only screen {
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }
  .small-1,
  .small-2,
  .small-3,
  .small-4,
  .small-5,
  .small-6,
  .small-7,
  .small-8,
  .small-9,
  .small-10,
  .small-11,
  .small-12,
  .small-offset-0,
  .small-offset-1,
  .small-offset-2,
  .small-offset-3,
  .small-offset-4,
  .small-offset-5,
  .small-offset-6,
  .small-offset-7,
  .small-offset-8,
  .small-offset-9,
  .small-offset-10,
  .small-offset-11,
  .small-offset-12 {
    position: relative;
  }
  .small-1 {
    width: 8.33333%;
  }
  .small-2 {
    width: 16.66667%;
  }
  .small-3 {
    width: 25%;
  }
  .small-4 {
    width: 33.33333%;
  }
  .small-5 {
    width: 41.66667%;
  }
  .small-6 {
    width: 50%;
  }
  .small-7 {
    width: 58.33333%;
  }
  .small-8 {
    width: 66.66667%;
  }
  .small-9 {
    width: 75%;
  }
  .small-10 {
    width: 83.33333%;
  }
  .small-11 {
    width: 91.66667%;
  }
  .small-12 {
    width: 100%;
  }
  .small-offset-0 {
    margin-left: 4.16665%;
  }
  .small-offset-1 {
    margin-left: 8.33333%;
  }
  .small-offset-2 {
    margin-left: 16.66667%;
  }
  .small-offset-3 {
    margin-left: 25%;
  }
  .small-offset-4 {
    margin-left: 33.33333%;
  }
  .small-offset-5 {
    margin-left: 41.66667%;
  }
  .small-offset-6 {
    margin-left: 50%;
  }
  .small-offset-7 {
    margin-left: 58.33333%;
  }
  .small-offset-8 {
    margin-left: 66.66667%;
  }
  .small-offset-9 {
    margin-left: 75%;
  }
  .small-offset-10 {
    margin-left: 83.33333%;
  }
  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }
  [class*="column"] + [class*="column"].end {
    float: left;
  }
}
@media only screen and (min-width: 48em) {
  .large-1,
  .large-2,
  .large-3,
  .large-4,
  .large-5,
  .large-6,
  .large-7,
  .large-8,
  .large-9,
  .large-10,
  .large-11,
  .large-12,
  .large-offset-0,
  .large-offset-1,
  .large-offset-2,
  .large-offset-3,
  .large-offset-4,
  .large-offset-5,
  .large-offset-6,
  .large-offset-7,
  .large-offset-8,
  .large-offset-9,
  .large-offset-10,
  .large-offset-11,
  .large-offset-12 {
    position: relative;
  }
  .large-1 {
    width: 8.33333%;
  }
  .large-2 {
    width: 16.66667%;
  }
  .large-3 {
    width: 25%;
  }
  .large-4 {
    width: 33.33333%;
  }
  .large-5 {
    width: 41.66667%;
  }
  .large-6 {
    width: 50%;
  }
  .large-7 {
    width: 58.33333%;
  }
  .large-8 {
    width: 66.66667%;
  }
  .large-9 {
    width: 75%;
  }
  .large-10 {
    width: 83.33333%;
  }
  .large-11 {
    width: 91.66667%;
  }
  .large-12 {
    width: 100%;
  }
  .large-offset-0 {
    margin-left: 4.16665%;
  }
  .large-offset-1 {
    margin-left: 8.33333%;
  }
  .large-offset-2 {
    margin-left: 16.66667%;
  }
  .large-offset-3 {
    margin-left: 25%;
  }
  .large-offset-4 {
    margin-left: 33.33333%;
  }
  .large-offset-5 {
    margin-left: 41.66667%;
  }
  .large-offset-6 {
    margin-left: 50%;
  }
  .large-offset-7 {
    margin-left: 58.33333%;
  }
  .large-offset-8 {
    margin-left: 66.66667%;
  }
  .large-offset-9 {
    margin-left: 75%;
  }
  .large-offset-10 {
    margin-left: 83.33333%;
  }
}
#slides {
  height: 100%;
  width: 100%;
  background: #f1f2f2;
  padding: 0;
}
.slides {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: scroll;
}
.slides .slides-container {
  display: none;
}
.slides .slides-container .container {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 3rem;
  text-align: center;
}
.slides .slides-container .container figure {
  display: block;
}
.slides .slides-container .container figure:after {
  display: inline-block;
}
.slides .slides-container .container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
nav.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  left: 0;
  right: 0;
  max-width: 100% !important;
}
nav.slides-navigation a {
  position: absolute;
  display: block;
  color: #ffffff;
  font-size: 4em;
  text-align: center;
  text-decoration: none;
}
nav.slides-navigation a:hover {
  color: #d1d3d4;
}
nav.slides-navigation a i {
  height: 4em;
}
nav.slides-navigation a.prev {
  left: 0.2em;
}
nav.slides-navigation a.next {
  right: 0.2em;
}
nav.slides-pagination {
  position: absolute;
  height: 7rem;
  bottom: 0;
  font-size: 12px;
  min-width: 100% !important;
  text-align: center;
  background: #231f20;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  z-index: 100;
}
nav.slides-pagination:before {
  content: " ";
  position: absolute;
  height: 3rem;
  width: 100%;
  background: #cd201f;
  top: 0;
  left: 0;
}
nav.slides-pagination a {
  position: relative;
  display: inline-block;
  width: 10em;
  padding-top: 5em;
  padding-left: 1em;
  padding-right: 1em;
  height: 7rem;
  line-height: 1.5;
  color: #838688;
  white-space: pre-wrap;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
nav.slides-pagination a:after,
nav.slides-pagination a.current:after {
  content: " ";
  border: 2px solid #f1f2f2;
  position: absolute;
  top: 1.5em;
  left: 50%;
  margin-left: -0.5em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-clip: 'padding-box';
  -moz-background-clip: 'padding-box';
  background-clip: 'padding-box';
  width: 1em;
  height: 1em;
  display: inline-block;
  z-index: 101;
}
nav.slides-pagination a.current:after {
  background: #f1f2f2;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
nav.slides-pagination a:before {
  content: " ";
  position: absolute;
  height: 3rem;
  width: 100%;
  background: #cd201f;
  top: 0;
}
nav.slides-pagination a:hover {
  color: #f1f2f2;
}
nav.slides-pagination a:hover:after {
  background: #231f20;
}
nav.slides-pagination:before {
  background: #148f77;
}
nav.slides-pagination a:before {
  background: #148f77;
}
@media only screen and (min-width: 25em) {
  body {
    font-size: 70%;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}
@media only screen and (min-width: 30em) {
  body {
    font-size: 80%;
  }
}
@media only screen and (min-width: 48em) {
  body {
    font-size: 90%;
  }
  .desktop {
    display: block !important;
  }
  .desktop-inline {
    display: inline-block !important;
  }
  .mobile,
  .mobile-inline {
    display: none !important;
  }
}
@media only screen and (min-width: 64em) {
  body {
    font-size: 100%;
  }
}
@media only screen and (min-width: 75em) {
  body {
    font-size: 100%;
  }
}
