// Navigation
// --------------------------------------------------------------------------

[role="navigation"] {
    display: block;
    position: fixed;
    top:0;
    padding: 0 2rem;
    z-index: 10;
    height: 3.125rem;
    background: @color-black--dark;
    .font-display !important;

    a.logo {
        display: inline-block;
        height: 3.125rem;
        &:hover{
        }
        img {
            height: 50px;
        }
    }
    ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 3.125rem; 
        text-align: center;
        
        li {
            display: inline-block;
            height: 3.125rem; 
            width: 3.125rem; 
            padding: 1rem 0;
            &:hover {

            }
            
            a i {
                color: @color-white;
                display: block;
                text-align: center;
                font-size: 1.25rem;
                height: 2.125rem;
                width: 100%;
            }
        }
    }
}